swagger: "2.0"
info:
  description: ""
  version: "0.0.1"
  title: "Easy Tests"
host: "api.easy-tests"
tags:
  - name: "users"
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  #
  # Users
  #
  /v1/users:
    get:
      summary: List all users
      operationId: listUsers
      tags:
        - users
      responses:
        "200":
          description: An array of users
          schema:
            $ref: '#/definitions/V1Users'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new User
      operationId: createUser
      parameters:
        - name: user
          in: body
          required: true
          description: User that needs to be created
          schema:
            $ref: '#/definitions/V1User'
      tags:
        - users
      responses:
        "400":
          description: Invalid input
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    put:
      summary: Update an existing user
      operationId: updateUser
      tags:
        - users
      parameters:
        - name: user
          in: body
          required: true
          description: User that needs to be added instead of the existing              one with the same id
          schema:
            $ref: '#/definitions/V1User'
      responses:
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  /v1/users/{userId}:
    get:
      summary: Info for a specific user
      operationId: showUserById
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          description: The id of the user to retrieve
          type: integer
      responses:
        "200":
          description: Expected response to a valid request
          schema:
            $ref: '#/definitions/V1User'
        '400':
          description: The specified user ID is invalid (not a number).
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: A user with the specified ID was not found.
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  /v1/users/me:
    get:
      summary: Info for current user
      operationId: showCurrentUser
      tags:
        - users
      responses:
        "200":
          description: Current user
          schema:
            $ref: '#/definitions/V1User'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    delete:
      summary: Delete a user with the specific id
      operationId: deleteUserById
      tags:
        - users
      parameters:
        - name: userId
          in: path
          required: true
          description: The id of the user to delete
          type: integer
      responses:
        '400':
          description: The specified user ID is invalid (not a number)
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: A user with the specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  #
  # Subjects
  #
  #
  # Topics
  #
  #
  # Questions
  #
  #
  # Issues
  #
  /v1/issues:
    get:
      summary: List of issues
      operationId: listIssues
      tags:
      - issues
      parameters:
        - name: subjectId
          in: query
          required: false
          description: Id of specific subject
          type: integer
          format: int64
      responses:
        '200':
          description: Return an array of specific subject's issues or list of all issues
          schema:
            $ref: '#/definitions/V1Issues'
        '400':
          description: The specified subject ID is invalid
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Subject is not permitted for this user
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new issue
      operationId: createIssue
      parameters:
        - name: issue
          in: body
          required: true
          description: Issue that needs to be created
          schema:
            $ref: '#/definitions/V1Issues'
      tags:
        - issues
      responses:
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    put:
      summary: Update an existing Issue
      operationId: updateIssue
      tags:
        - issues
      parameters:
        - name: issue
          in: body
          required: true
          description: Update issue with a specific id
          schema:
            $ref: '#/definitions/V1Issue'
      responses:
        '400':
          description: Invalid input
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  /v1/issues/{issueId}:
    get:
      summary: Info for a specific issue
      operationId: showIssueById
      parameters:
        - name: issueId
          in: path
          required: true
          description: Id of specific issue
          type: integer
          format: int64
      responses:
        '200':
          description: Expected response to a valid request
          schema:
            $ref: '#/definitions/V1Issue'
        '400':
          description: The specified issue ID is invalid
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: An issue with the specified ID was not found.
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    delete:
      summary: Delete an issue with the specific id
      operationId: deleteIssueById
      tags:
        - Issues
      parameters:
        - name: issueId
          in: path
          required: true
          description: The id of the issue to delete
          type: integer
          format: int64
      responses:
        '400':
          description: The specified issue ID is invalid
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: An issue with the specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  #
  # Quizzes
  #
  #
  # Points
  #
  #
  # Temporary Objects
  #
  /v1/objects:
    get:
      summary: List all object
      operationId: listObject
      tags:
        - objects
      responses:
        "200":
          description: An array of objects
          schema:
            $ref: '#/definitions/V1Objects'
        default:
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  /v1/objects/{objectId}:
    get:
      summary: Info for a specific user
      operationId: showObjectById
      tags:
        - objects
      parameters:
        - name: objectId
          in: path
          required: true
          description: The id of the object to retrieve
          type: integer
      responses:
        "200":
          description: Expected response to a valid request
          schema:
            $ref: '#/definitions/V1Object'
        "404":
          description: unexpected error
          schema:
            $ref: '#/definitions/V1Object'
definitions:
  #
  # Users
  #
  V1User:
    type: object
    required:
      - firstName
      - lastName
      - surname
      - email
      - isAdmin
      - state
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      surname:
        type: string
      email:
        type: string
      isAdmin:
        type: boolean
      state:
        type: integer
        format: int64
    example:
      id: 1
      firstName: 'Ivan'
      lastName: 'Ivanovich'
      surname: 'Ivanov'
      email: 'Ivanov@gmail.com'
      password: '1244s'
      isAdmin: false
      state: 1
  V1Users:
    type: array
    items:
      $ref: '#/definitions/V1User'
  #
  # Subjects
  #
  #
  # Topics
  #
  #
  # Questions
  #
  #
  # Issues
  #
  V1Issue:
    type: object
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      subject:
        type: object
        items:
          $ref: '#/definitions/V1Subject'
      quizzes:
        type: array
        items:
          $ref: '#/definitions/V1Quizz'
    required:
      - id
      - name
      - subject
    example:
      id: 1
      name: Test№1
      subject: Networks
  V1Issues:
    type: array
    items:
      $ref: '#/definitions/V1Issue'
  #
  # Quizzes
  #
  #
  # Points
  #
  #
  # Temporary Objects
  #
  V1Object:
    required:
      - id
      - firstName
      - lastNname
      - surname
      - email
      - isAdmin
      - state
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      surname:
        type: string
      email:
        type: string
      isAdmin:
        type: boolean
      state:
        type: integer
  V1Objects:
    type: array
    items:
      $ref: '#/definitions/V1Object'
  #
  # Errors
  #
  V1Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
