swagger: '2.0'
info:
  description: ''
  version: '0.0.1'
  title: 'Easy Tests'
host: 'api.easy-tests'
schemes:
  - http
consumes:
  - application/json
produces:
  - application/json
paths:
  #
  # Users
  #
  /v1/users:
    get:
      summary: Retrieve Users list
      operationId: listUsers
      tags:
        - Users
      responses:
        '200':
          description: An array of founded Users
          schema:
            $ref: '#/definitions/V1Users'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new User
      operationId: createUser
      tags:
        - Users
      parameters:
        - name: body
          in: body
          required: true
          description: User that needs to be created
          schema:
            $ref: '#/definitions/V1User'
      responses:
        '201':
          description: User was successfully created
          schema:
            $ref: '#/definitions/V1Identity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    put:
      summary: Update an existing User
      operationId: updateUser
      tags:
        - Users
      parameters:
        - name: body
          in: body
          required: true
          description: User that needs to be updated
          schema:
            $ref: '#/definitions/V1User'
      responses:
        '200':
          description: User was successfully updated
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  /v1/users/{userId}:
    parameters:
      - name: userId
        in: path
        required: true
        description: User ID
        type: integer
    get:
      summary: Retrieve User with a specified ID
      operationId: showUserById
      tags:
        - Users
      responses:
        '200':
          description: User with specified ID
          schema:
            $ref: '#/definitions/V1User'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: User with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    delete:
      summary: Delete User with specified ID
      operationId: deleteUserById
      tags:
        - Users
      responses:
        '200':
          description: User was successfully deleted
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: User with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  /v1/users/me:
    get:
      summary: Retrieve current User
      operationId: showCurrentUser
      tags:
        - Users
      responses:
        '200':
          description: Current User
          schema:
            $ref: '#/definitions/V1User'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  #
  # Subjects
  #
  /v1/subjects:
    get:
      summary: Retrive Subjects list
      operationId: listSubjects
      tags:
        - Subjects
      parameters:
        - name: userId
          in: query
          required: true
          description: User ID
          type: integer
          format: int64
      responses:
        '200':
          description: An array of founded Subjects
          schema:
            $ref: '#/definitions/V1Subjects'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: User with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new Subject
      operationId: createSubject
      tags:
        - Subjects
      parameters:
        - name: body
          in: body
          required: true
          description: Subject that needs to be created
          schema:
            $ref: '#/definitions/V1Subject'
      responses:
        '201':
          description: Subject was successfully created
          schema:
            $ref: '#/definitions/V1Identity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    put:
      summary: Update an existing Subject
      operationId: updateSubject
      tags:
        - Subjects
      parameters:
        - name: body
          in: body
          required: true
          description: Subject that needs to be updated
          schema:
            $ref: '#/definitions/V1Subject'
      responses:
        '200':
          description: Subject was successfully updated
        '400':
          description: Bad request
          schema:
              $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
              $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  /v1/subjects/{subjectId}:
      parameters:
        - name: subjectId
          in: path
          required: true
          description: Subject ID
          type: integer
      get:
        summary: Retrieve Subject with a specified ID
        operationId: showSubjectById
        tags:
          - Subjects
        responses:
          '200':
            description: Subject with specified ID
            schema:
              $ref: '#/definitions/V1Subject'
          '400':
            description:  Bad request
            schema:
              $ref: '#/definitions/V1Error'
          '403':
            description: Permission denied
            schema:
              $ref: '#/definitions/V1Error'
          '404':
            description: Subject with specified ID was not found
            schema:
              $ref: '#/definitions/V1Error'
          default:
            description: Unexpected error
            schema:
              $ref: '#/definitions/V1Error'
      delete:
        summary: Delete Subject with specified ID
        operationId: deleteSubjectById
        tags:
          - Subjects
        responses:
          '200':
            description: Subject was successfully deleted
          '400':
            description: Bad request
            schema:
              $ref: '#/definitions/V1Error'
          '403':
            description: Permission denied
            schema:
              $ref: '#/definitions/V1Error'
          '404':
            description: Subject with specified ID was not found
            schema:
              $ref: '#/definitions/V1Error'
          default:
            description: unexpected error
            schema:
                $ref: '#/definitions/V1Error'
  #
  # Topics
  #
  /v1/topics:
    'get':
      summary: Retrieve Topics list
      operationId: listTopics
      tags:
        - Topics
      parameters:
        - name: subjectId
          in: query
          required: true
          description: Subject ID
          type: integer
          format: int64
      responses:
        '200':
          description: An array of founded Topics
          schema:
            $ref: '#/definitions/V1Topics'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Subject with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    'post':
      summary: Create a new Topic
      operationId: createTopic
      tags:
        - Topics
      parameters:
        - name: body
          in: body
          required: true
          description: Topic that needs to be created
          schema:
            $ref: '#/definitions/V1Topic'
      responses:
        '201':
          description: Topic was successfully created
          schema:
            $ref: '#/definitions/V1Identity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    'put':
      summary: Update an existing Topic
      operationId: updateTopic
      tags:
        - Topics
      parameters:
        - in: body
          name: body
          description: Topic that needs to be updated
          required: true
          schema:
            $ref: '#/definitions/V1Topic'
      responses:
        '200':
          description: Topic was successfully updated
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  /v1/topics/{topicId}:
    parameters:
      - name: topicId
        in: path
        required: true
        description: Topic ID
        type: integer
    'get':
      summary: Retrieve Topic with a specified ID
      operationId: getTopicById
      tags:
        - Topics
      responses:
        '200':
          description: Topic with specified ID
          schema:
            $ref: '#/definitions/V1Topic'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Topic with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    'delete':
      summary: Delete Topic with specified ID
      operationId: deleteTopicById
      tags:
        - Topics
      responses:
        '200':
          description: Topic was successfully deleted
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Topic with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  #
  # Questions
  #
  /v1/questions:
    get:
      summary: Retrieve Questions list
      operationId: listQuestions
      tags:
        - Questions
      parameters:
        - name: topicId
          in: query
          required: true
          description: Topic ID
          type: integer
          format: int64
      responses:
        '200':
          description: An array of founded Questions
          schema:
            $ref: '#/definitions/V1Questions'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Topic with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new Question
      operationId: createQuestion
      tags:
        - Questions
      parameters:
        - name: body
          in: body
          required: true
          description: Question that needs to be created
          schema:
            $ref: '#/definitions/V1Question'
      responses:
        '201':
          description: Qustion was successfully created
          schema:
            $ref: '#/definitions/V1Identity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    put:
      summary: Update an existing Question
      operationId: updateQuestion
      tags:
        - Questions
      parameters:
        - name: body
          in: body
          required: true
          description: Question that needs to be updated
          schema:
            $ref: '#/definitions/V1Question'
      responses:
        '200':
          description: Question was successfully updated
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  /v1/questions/{questionId}:
    parameters:
      - name: questionId
        in: path
        required: true
        description: Question ID
        type: integer
        format: int64
    get:
      summary: Retrieve Question with specified ID
      operationId: showQuestionById
      tags:
        - Questions
      responses:
        '200':
          description: Question with specified ID
          schema:
            $ref: '#/definitions/V1Question'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Question with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    delete:
      summary: Delete Question with specified ID
      operationId: deleteQuestionById
      tags:
        - Questions
      responses:
        '200':
          description: Question was successfully deleted
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Question with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  #
  # Issues
  #
  /v1/issues:
    get:
      summary: Retrieve Issues list
      operationId: listIssues
      tags:
        - Issues
      parameters:
        - name: subjectId
          in: query
          required: true
          description: Subject ID
          type: integer
          format: int64
      responses:
        '200':
          description: An array of founded Issues
          schema:
            $ref: '#/definitions/V1Issues'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Subject with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new Issue
      operationId: createIssue
      tags:
        - Issues
      parameters:
        - name: body
          in: body
          required: true
          description: Issue that needs to be created
          schema:
            $ref: '#/definitions/V1Issue'
      responses:
        '201':
          description: Issue was successfully created
          schema:
            $ref: '#/definitions/V1Identity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
            
  /v1/issues/{issueId}:
    parameters:
      - name: issueId
        in: path
        required: true
        description: Issue ID
        type: integer
        format: int64
    get:
      summary: Retrieve Issue with specified ID
      operationId: showIssueById
      tags:
        - Issues
      responses:
        '200':
          description: Issue with specified ID
          schema:
            $ref: '#/definitions/V1Issue'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Issue with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    delete:
      summary: Delete Issue with specified ID
      operationId: deleteIssueById
      tags:
        - Issues
      responses:
        '200':
          description: Issue was successfully deleted
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Issue with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  #
  # Quizzes
  #
  /v1/quizzes:
    get:
      summary: Retrieve Quizzes list
      operationId: listQuizzes
      tags:
        - Quizzes
      parameters:
        - name: issueId
          in: query
          required: true
          description: Issue ID
          type: integer
          format: int64
      responses:
        '200':
          description: An array of founded Quizzes
          schema:
            $ref: '#/definitions/V1Quizzes'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Issue with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  /v1/quizzes/{quizId}:
    parameters:
      - name: quizId
        in: path
        required: true
        description: Quiz ID
        type: integer
        format: int64
    get:
      summary: Retrieve Quiz with specified ID
      operationId: quizById
      tags:
         - Quizzes
      responses:
        '200':
          description: Quiz with specified ID
          schema:
            $ref: '#/definitions/V1Quiz'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Quiz with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
  #
  # Points
  #
  #
  # Temporary Objects
  #
  /v1/objects:
    get:
      summary: Retrieve Objects list
      operationId: listObject
      tags:
        - Objects
      responses:
        '200':
          description: An array of founded Objects
          schema:
            $ref: '#/definitions/V1Objects'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    post:
      summary: Create a new Object
      operationId: createObject
      tags:
        - Objects
      parameters:
        - name: body
          in: body
          required: true
          description: Object that needs to be created
          schema:
            $ref: '#/definitions/V1Object'
      responses:
        '201':
          description: Object was successfully created
          schema:
            $ref: '#/definitions/V1Identity'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
    put:
      summary: Update an existing Object
      operationId: updateObject
      tags:
        - Objects
      parameters:
        - name: body
          in: body
          required: true
          description: Object that needs to be updated
          schema:
            $ref: '#/definitions/V1Object'
      responses:
        '200':
          description: Object was successfully updated
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'

  /v1/objects/{objectId}:
    parameters:
      - name: objectId
        in: path
        required: true
        description: Object ID
        type: integer
    get:
      summary: Retrieve Object with specified ID
      operationId: showObjectById
      tags:
        - Objects
      responses:
        '200':
          description: Object with specified ID
          schema:
            $ref: '#/definitions/V1Object'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/V1Error'
        '403':
          description: Permission denied
          schema:
            $ref: '#/definitions/V1Error'
        '404':
          description: Object with specified ID was not found
          schema:
            $ref: '#/definitions/V1Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/V1Error'
definitions:
  #
  # Users
  #
  V1User:
    type: object
    required:
      - firstName
      - lastName
      - surname
      - email
      - isAdmin
      - state
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      surname:
        type: string
      email:
        type: string
      isAdmin:
        type: boolean
      state:
        type: integer
        format: int64
    example:
      id: 1
      firstName: Ivan
      lastName: Ivanovich
      surname: Ivanov
      email: Ivanov@gmail.com
      isAdmin: false
      state: 1
  V1Users:
    type: array
    items:
      $ref: '#/definitions/V1User'
  #
  # Subjects
  #
  V1Subject:
    type: object
    required:
       - name
       - user
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      description:
        type: string
      user:
        $ref: '#/definitions/V1Identity'
    example:
      id: 1
      name: Databases and Network Technologies
      description: Development and analysis of databases
      user:
        id: 1
  V1Subjects:
    type: array
    items:
      $ref: '#/definitions/V1Subject'
  #
  # Topics
  #
  V1Topic:
    type: object
    required:
      - name
      - subject
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      subject:
        $ref: '#/definitions/V1Identity'
    example:
      id: 322
      name: Database normalization
      subject:
        id: 1
  V1Topics:
    type: array
    items:
      $ref: '#/definitions/V1Topic'
  #
  # Questions
  #
  V1Question:
    type: object
    required:
      - text
      - type
      - topic
      - answers
    properties:
      id:
        type: integer
        format: int64
      text:
        type: string
      type:
        type: integer
        description: question type means the type and quantity of answers
        enum:
        - 1
        - 2
        - 3
        - 4
      topic:
        $ref: '#/definitions/V1Identity'
      answers:
        $ref: '#/definitions/V1AdminAnswers'
    example:
      id: 1
      text: Select private networks
      type: 1
      topic:
        id: 2
      answers:
        - id: 2
          text: 255.255.255.255
          isRight: false
          number: 1
  V1Questions:
    type: array
    items:
      $ref: '#/definitions/V1Question'
  #
  # Answers
  #
  V1AdminAnswer:
    type: object
    required:
      - text
      - isRight
      - number
    properties:
      id:
        type: integer
        format: int64
      text:
        type: string
      isRight:
        type: boolean
      number:
        type: integer
        format: int64
    example:
      id: 2
      text: 255.255.255.255
      isRight: false
      number: 1
  V1AdminAnswers:
    type: array
    items:
      $ref: '#/definitions/V1AdminAnswer'
  #
  # Issues
  #
  V1Issue:
    type: object
    required:
      - name
      - subject
    properties:
      id:
        type: integer
        format: int64
      name:
        type: string
      subject:
        type: object
        items:
          $ref: '#/definitions/V1Identity'
    example:
      id: 1
      name: Test №1
      subject:
        id: 2
  V1Issues:
    type: array
    items:
      $ref: '#/definitions/V1Issue'
  #
  # TODO: IssueStandard that we should pass for creation(generation) issue.
  #
  # Quizzes
  #
  V1Quiz:
    type: object
    required:
      - id
      - issue
      - inviteCode
      - codeExpired
    properties:
      id:
        type: integer
        format: int64
      issue:
        $ref: '#/definitions/V1Identity'
      inviteCode:
        type: string
      codeExpired:
        type: boolean
      startedAt:
        type: string
        format: date-time
      finishedAt:
        type: string
        format: date-time
      testee:
        $ref: '#/definitions/V1Testee'
    example:
      id: 1
      issue:
        id: 1
      inviteCode: 1
      codeExpired: false
      startedAt: 2018-03-11T23:20:50Z
      finishedAt: 2018-03-11T23:30:50Z
      testee:
        - id: 1
          firstName: Ivan
          lastName: Ivanovich
          surname: Ivanov
          groupNumber: 1
  V1Quizzes:
    type: array
    items:
      $ref: '#/definitions/V1Quiz'
  V1Testee:
    type: object
    required:
      - id
      - firstName
      - lastName
      - surname
      - groupNumber
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      surname:
        type: string
      groupNumber:
        type: integer
        format: int64
      quiz:
        $ref: '#/definitions/V1Identity'
    example:
      id: 1
      firstName: Ivan
      lastName: Ivanovich
      surname: Ivanov
      groupNumber: 1
      quiz:
        id: 1
  V1Testees:
    type: array
    items:
      $ref: '#/definitions/V1Testee'
  #
  # Points
  #
  #
  # Temporary Objects
  #
  V1Object:
    type: object
    required:
      - firstName
      - lastName
      - surname
      - email
      - isAdmin
      - state
    properties:
      id:
        type: integer
        format: int64
      firstName:
        type: string
      lastName:
        type: string
      surname:
        type: string
      email:
        type: string
      isAdmin:
        type: boolean
      state:
        type: integer
      subjects:
        $ref: '#/definitions/V1Identities'
    example:
      id: 1
      firstName: FirstName
      lastName: LastName
      surname: Surname
      email: mail@mail.ru
      subjects:
        - 1
        - 4
  V1Objects:
    type: array
    items:
      $ref: '#/definitions/V1Object'
  V1Identity:
    type: object
    required:
      - id
    properties:
      id:
        type: integer
        format: int64
  V1Identities:
    type: array
    items:
      $ref: '#/definitions/V1Identity'
  #
  # Errors
  #
  V1Error:
    required:
      - code
      - message
    properties:
      code:
        type: integer
        format: int32
      message:
        type: string
